In [7]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [8]:
data=pd.read_csv('E:\\201810\\jhjj_KS\\jhjj.csv')

In [9]:
data

,user_id,apply_id,contract_id,lent_at,month_lent,week_lent,apply_type_,score,score_cut,model_id,model_group_id,regist_platform,repay_term,due_date,month_due,week_due,over_at,overdue_day,od30_evv
0,2756151,95098,1.002625e+10,2018/1/24 14:35,18-Jan,2018/1/22,reloan,971,950-1000,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/24 0:00,18-Feb,2018/2/19,2018/2/22 9:38,NaN,0
1,2586607,95134,1.002625e+10,2018/1/24 14:59,18-Jan,2018/1/22,white_list,889,850-900,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/24 0:00,18-Feb,2018/2/19,2018/2/20 22:14,NaN,0
2,3905327,95166,1.002625e+10,2018/1/24 15:20,18-Jan,2018/1/22,white_list,955,950-1000,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/24 0:00,18-Feb,2018/2/19,2018/2/25 10:15,1.0,0
3,4558336,95317,1.002626e+10,2018/1/24 17:11,18-Jan,2018/1/22,new,962,950-1000,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/24 0:00,18-Feb,2018/2/19,2018/2/23 20:25,NaN,0
4,2729676,95476,1.002626e+10,2018/1/24 19:49,18-Jan,2018/1/22,white_list,931,900-950,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/24 0:00,18-Feb,2018/2/19,2018/2/13 14:22,NaN,0
5,1897428,95509,1.002626e+10,2018/1/24 20:28,18-Jan,2018/1/22,white_list,928,900-950,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/24 0:00,18-Feb,2018/2/19,2018/1/28 8:49,NaN,0
6,4558457,95565,1.002626e+10,2018/1/24 21:39,18-Jan,2018/1/22,new,937,900-950,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/24 0:00,18-Feb,2018/2/19,2018/2/23 7:45,NaN,0
7,1431210,95588,1.002626e+10,2018/1/24 22:03,18-Jan,2018/1/22,reloan,942,900-950,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/24 0:00,18-Feb,2018/2/19,2018/2/23 11:13,NaN,0
8,1443437,95644,1.002626e+10,2018/1/24 23:29,18-Jan,2018/1/22,white_list,959,950-1000,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/24 0:00,18-Feb,2018/2/19,2018/2/24 15:46,NaN,0
9,4558542,95771,1.002626e+10,2018/1/25 5:08,18-Jan,2018/1/22,new,934,900-950,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/25 0:00,18-Feb,2018/2/19,2018/2/25 9:38,NaN,0
10,1996659,95831,1.002626e+10,2018/1/25 8:01,18-Jan,2018/1/22,white_list,959,950-1000,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/25 0:00,18-Feb,2018/2/19,2018/2/25 16:02,NaN,0
11,4558584,95833,1.002626e+10,2018/1/25 8:05,18-Jan,2018/1/22,new,942,900-950,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/25 0:00,18-Feb,2018/2/19,2018/2/25 18:43,NaN,0
12,4558606,95884,1.002626e+10,2018/1/25 9:32,18-Jan,2018/1/22,new,978,950-1000,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/25 0:00,18-Feb,2018/2/19,2018/2/25 9:42,NaN,0
13,2039615,95914,1.002626e+10,2018/1/25 9:52,18-Jan,2018/1/22,white_list,950,900-950,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/25 0:00,18-Feb,2018/2/19,2018/2/24 10:20,NaN,0
14,204813,96007,1.002626e+10,2018/1/25 10:54,18-Jan,2018/1/22,white_list,944,900-950,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/25 0:00,18-Feb,2018/2/19,2018/2/24 10:33,NaN,0
15,330295,96353,1.002626e+10,2018/1/25 14:49,18-Jan,2018/1/22,white_list,921,900-950,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/25 0:00,18-Feb,2018/2/19,2018/2/25 9:31,NaN,0
16,4348237,96622,1.002627e+10,2018/1/25 17:58,18-Jan,2018/1/22,white_list,945,900-950,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/25 0:00,18-Feb,2018/2/19,2018/2/26 15:52,1.0,0
17,2218013,96713,1.002627e+10,2018/1/25 19:11,18-Jan,2018/1/22,white_list,917,900-950,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/25 0:00,18-Feb,2018/2/19,2018/2/25 9:31,NaN,0
18,3390126,96753,1.002627e+10,2018/1/25 19:58,18-Jan,2018/1/22,white_list,923,900-950,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/25 0:00,18-Feb,2018/2/19,2018/2/25 10:48,NaN,0
19,1327320,97057,1.002627e+10,2018/1/26 3:43,18-Jan,2018/1/22,white_list,886,850-900,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/26 0:00,18-Feb,2018/2/26,2018/2/26 10:23,NaN,0
20,4559427,97439,1.002627e+10,2018/1/26 13:19,18-Jan,2018/1/22,new,987,950-1000,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/26 0:00,18-Feb,2018/2/26,2018/2/26 9:31,NaN,0
21,4559440,97455,1.002627e+10,2018/1/26 13:31,18-Jan,2018/1/22,new,989,950-1000,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/26 0:00,18-Feb,2018/2/26,2018/2/23 14:42,NaN,0
22,4559538,97602,1.002628e+10,2018/1/26 15:26,18-Jan,2018/1/22,new,933,900-950,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/26 0:00,18-Feb,2018/2/26,2018/2/26 12:35,NaN,0
23,4559632,97742,1.002628e+10,2018/1/26 17:05,18-Jan,2018/1/22,new,966,950-1000,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/26 0:00,18-Feb,2018/2/26,2018/2/26 14:36,NaN,0
24,4039341,97750,1.002628e+10,2018/1/26 17:05,18-Jan,2018/1/22,reloan,953,950-1000,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/26 0:00,18-Feb,2018/2/26,2018/3/5 17:08,7.0,0
25,205041,97764,1.002628e+10,2018/1/26 17:15,18-Jan,2018/1/22,white_list,928,900-950,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,android,1,2018/2/26 0:00,18-Feb,2018/2/26,2018/2/26 20:31,NaN,0
26,1407347,97791,1.002628e+10,2018/1/26 17:29,18-Jan,2018/1/22,white_list,957,950-1000,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/26 0:00,18-Feb,2018/2/26,2018/2/23 11:45,NaN,0
27,4341196,98079,1.002628e+10,2018/1/26 22:20,18-Jan,2018/1/22,white_list,961,950-1000,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/26 0:00,18-Feb,2018/2/26,2018/2/26 9:32,NaN,0
28,1424974,98118,1.002628e+10,2018/1/26 23:08,18-Jan,2018/1/22,white_list,941,900-950,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/26 0:00,18-Feb,2018/2/26,2018/2/25 17:27,NaN,0
29,4537333,98172,1.002628e+10,2018/1/27 0:31,18-Jan,2018/1/22,new,949,900-950,M_XGB_TD_20170901,G_XGB_TD_20170901_77660,web,1,2018/2/27 0:00,18-Feb,2018/2/26,2018/2/26 20:52,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29108,757630,345075,1.002691e+10,2018/6/30 21:06,18-Jun,2018/6/25,reloan,779,750-800,M_XGB_TD_20170901,mil_reloan_model_group,web,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/7/30 9:58,NaN,0
29109,4736612,345082,1.002691e+10,2018/6/30 21:10,18-Jun,2018/6/25,new,946,900-950,M_XGB_TD_20170901,mil_new_model_group,web,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/7/25 22:24,NaN,0
29110,4736582,345084,1.002691e+10,2018/6/30 21:12,18-Jun,2018/6/25,new,888,850-900,M_XGB_TD_20170901,mil_new_model_group,web,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/8/8 22:25,9.0,1
29111,2353724,345103,1.002691e+10,2018/6/30 21:23,18-Jun,2018/6/25,new,963,950-1000,M_XGB_TD_20170901,mil_new_model_group,web,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/7/28 9:33,NaN,0
29112,442607,345109,1.002691e+10,2018/6/30 21:25,18-Jun,2018/6/25,white_list,832,800-850,M_XGB_TD_20170901,mil_white_model_group,android,1,2018/7/30 0:00,18-Jul,2018/7/30,NaN,97.0,1
29113,170087,345110,1.002691e+10,2018/6/30 21:25,18-Jun,2018/6/25,white_list,919,900-950,M_XGB_TD_20170901,mil_white_model_group,android,1,2018/7/30 0:00,18-Jul,2018/7/30,NaN,97.0,1
29114,4736570,345111,1.002691e+10,2018/6/30 21:28,18-Jun,2018/6/25,new,862,850-900,M_XGB_TD_20170901,mil_new_model_group,web,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/8/3 17:06,4.0,0
29115,3954189,345125,1.002691e+10,2018/6/30 21:36,18-Jun,2018/6/25,white_list,865,850-900,M_XGB_TD_20170901,mil_white_model_group,web,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/7/30 15:27,NaN,1
29116,1560766,345127,1.002691e+10,2018/6/30 21:36,18-Jun,2018/6/25,reloan,811,800-850,M_XGB_TD_20170901,mil_reloan_model_group,web,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/7/30 10:22,NaN,0
29117,1580495,345132,1.002691e+10,2018/6/30 21:38,18-Jun,2018/6/25,white_list,831,800-850,M_XGB_TD_20170901,mil_white_model_group,web,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/7/30 21:05,NaN,0
29118,536070,345136,1.002691e+10,2018/6/30 21:39,18-Jun,2018/6/25,white_list,899,850-900,M_XGB_TD_20170901,mil_white_model_group,web,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/7/29 9:34,NaN,0
29119,3998534,345138,1.002691e+10,2018/6/30 21:41,18-Jun,2018/6/25,white_list,833,800-850,M_XGB_TD_20170901,mil_white_model_group,android,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/7/29 18:06,NaN,0
29120,3467843,345150,1.002691e+10,2018/6/30 21:48,18-Jun,2018/6/25,white_list,846,800-850,M_XGB_TD_20170901,mil_white_model_group,web,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/7/30 7:14,NaN,0
29121,4714968,345151,1.002691e+10,2018/6/30 21:49,18-Jun,2018/6/25,new,892,850-900,M_XGB_TD_20170901,mil_new_model_group,web,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/7/29 14:04,NaN,0
29122,4736670,345169,1.002691e+10,2018/6/30 21:57,18-Jun,2018/6/25,new,913,900-950,M_XGB_TD_20170901,mil_new_model_group,web,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/7/28 10:21,NaN,0
29123,2829871,345170,1.002691e+10,2018/6/30 21:55,18-Jun,2018/6/25,reloan,917,900-950,M_XGB_TD_20170901,mil_reloan_model_group,web,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/7/30 14:32,NaN,0
29124,2762436,345192,1.002691e+10,2018/6/30 22:10,18-Jun,2018/6/25,reloan,794,750-800,M_XGB_TD_20170901,mil_reloan_model_group,web,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/7/30 10:51,NaN,0
29125,4733611,345210,1.002691e+10,2018/6/30 22:21,18-Jun,2018/6/25,new,847,800-850,M_XGB_TD_20170901,mil_new_model_group,web,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/7/30 9:57,NaN,0
29126,895791,345227,1.002691e+10,2018/6/30 22:30,18-Jun,2018/6/25,reloan,931,900-950,M_XGB_TD_20170901,mil_reloan_model_group,web,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/7/30 22:10,NaN,0
29127,3545099,345237,1.002691e+10,2018/6/30 22:37,18-Jun,2018/6/25,new,889,850-900,M_XGB_TD_20170901,mil_new_model_group,android,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/7/31 10:07,1.0,0
29128,4736716,345269,1.002691e+10,2018/6/30 23:00,18-Jun,2018/6/25,new,896,850-900,M_XGB_TD_20170901,mil_new_model_group,android,1,2018/7/30 0:00,18-Jul,2018/7/30,NaN,97.0,1
29129,4736771,345271,1.002691e+10,2018/6/30 23:00,18-Jun,2018/6/25,new,906,900-950,M_XGB_TD_20170901,mil_new_model_group,web,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/7/30 10:41,NaN,0
29130,4736788,345272,1.002691e+10,2018/6/30 23:00,18-Jun,2018/6/25,new,886,850-900,M_XGB_TD_20170901,mil_new_model_group,web,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/7/28 11:26,NaN,0
29131,1239627,345277,1.002691e+10,2018/6/30 23:04,18-Jun,2018/6/25,white_list,849,800-850,M_XGB_TD_20170901,mil_white_model_group,web,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/8/3 11:14,4.0,0
29132,1122073,345284,1.002691e+10,2018/6/30 23:14,18-Jun,2018/6/25,reloan,787,750-800,M_XGB_TD_20170901,mil_reloan_model_group,web,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/7/20 16:13,NaN,0
29133,114459,345286,1.002691e+10,2018/6/30 23:17,18-Jun,2018/6/25,white_list,966,950-1000,M_XGB_TD_20170901,mil_white_model_group,android,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/8/3 10:34,4.0,0
29134,2523087,345290,1.002691e+10,2018/6/30 23:19,18-Jun,2018/6/25,white_list,973,950-1000,M_XGB_TD_20170901,mil_white_model_group,web,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/7/31 10:05,1.0,0
29135,1976043,345292,1.002691e+10,2018/6/30 23:22,18-Jun,2018/6/25,white_list,821,800-850,M_XGB_TD_20170901,mil_white_model_group,web,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/7/29 10:37,NaN,0
29136,4736809,345296,1.002691e+10,2018/6/30 23:25,18-Jun,2018/6/25,new,976,950-1000,M_XGB_TD_20170901,mil_new_model_group,web,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/7/28 15:23,NaN,0
29137,3530238,345299,1.002691e+10,2018/6/30 23:25,18-Jun,2018/6/25,white_list,830,800-850,M_XGB_TD_20170901,mil_white_model_group,android,1,2018/7/30 0:00,18-Jul,2018/7/30,2018/7/30 10:36,NaN,1

### 研究计算KS值

In [10]:
dat=data.loc[:,['score','od30_evv','apply_type_','month_lent']]

In [11]:
def ks_go(dat):
    dat['true_label']=dat['od30_evv']
    dat['pre_prob']=dat['score']
    TPR=[]
    FPR=[]
    for i in np.arange(1000,0,-10):        
        TP = sum((dat['pre_prob'] <= i) * (dat['true_label'] == 1))   #判为正类实际也为正类
        FP = sum((dat['pre_prob'] <= i) * (dat['true_label'] == 0))   #判为正类实际为负类  
        TN = sum((dat['pre_prob'] > i) * (dat['true_label']== 0))     #判为负类实际为负类  
        FN = sum((dat['pre_prob'] > i) * (dat['true_label'] == 1))    #判为负类实际为正类
        TPR.append(TP/(TP+FN))
        FPR.append(FP/(FP+TN))
    ks=[]
    for i in np.arange(len(TPR)):
        ks.append(TPR[i]-FPR[i])
    return(max(ks))

## 不同放款月

In [12]:
monList=dat.drop_duplicates(subset=['month_lent'], keep='first', inplace=False).month_lent
for i in monList:
    dat1=dat[dat['month_lent']==i]
    print (i,'   KS_value:',ks_go(dat1))

F:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

F:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
F:\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:179: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  .format(op=op_str, alt_op=unsupported[op_str]))

18-Jan    KS_value: 0.166970802919708
18-Feb    KS_value: 0.1771186440677966
18-Mar    KS_value: 0.12342979882246896
18-Apr    KS_value: 0.07499999999999996
18-May    KS_value: 0.10397320845754943
18-Jun    KS_value: 0.1442454662324547

## 新老客

In [13]:
monList=dat.drop_duplicates(subset=['apply_type_'], keep='first', inplace=False).apply_type_
for i in monList:
    dat1=dat[dat['apply_type_']==i]
    print (i,'    KS_value:',ks_go(dat1))

F:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

F:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
F:\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:179: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  .format(op=op_str, alt_op=unsupported[op_str]))

reloan     KS_value: 0.16274770343665423
white_list     KS_value: 0.1209371493660904
new     KS_value: 0.13181826389918705

## 思考Roy提出的问题，
## 分数应该平均分，不应该直接遍历

In [14]:
# 按分数从低到高排序，并重设索引
dat=dat.sort_values('score')
dat=dat.set_index(np.arange(29138))

In [15]:
# 找到平均分成n份 的具体切分值
dat_cut=dat            #reloan  white_list  new 
score_cut=[]
sid=np.arange(len(dat_cut['score'])/10,len(dat_cut['score']),len(dat_cut['score'])/10)
for i in sid:
    print('客户序号：',int(i),'   对应分数：',dat_cut.loc[int(i),'score'])
    score_cut.append(dat_cut.loc[int(i),'score'])

客户序号： 2913    对应分数： 790
客户序号： 5827    对应分数： 821
客户序号： 8741    对应分数： 844
客户序号： 11655    对应分数： 863
客户序号： 14569    对应分数： 879
客户序号： 17482    对应分数： 894
客户序号： 20396    对应分数： 910
客户序号： 23310    对应分数： 927
客户序号： 26224    对应分数： 947

In [16]:
score_cut

[790, 821, 844, 863, 879, 894, 910, 927, 947]

In [17]:
def ks_go2(dat):
    dat['true_label']=dat['od30_evv']
    dat['pre_prob']=dat['score']
    TPR=[]
    FPR=[]
    for i in score_cut:        
        TP = sum((dat['pre_prob'] <= i) * (dat['true_label'] == 1))   #判为正类实际也为正类
        FP = sum((dat['pre_prob'] <= i) * (dat['true_label'] == 0))   #判为正类实际为负类  
        TN = sum((dat['pre_prob'] > i) * (dat['true_label']== 0))     #判为负类实际为负类  
        FN = sum((dat['pre_prob'] > i) * (dat['true_label'] == 1))    #判为负类实际为正类
        TPR.append(TP/(TP+FN))
        FPR.append(FP/(FP+TN))
    ks=[]
    for i in np.arange(len(TPR)):
        ks.append(TPR[i]-FPR[i])
    return(max(ks))

In [18]:
## 整体样本的KS值
print('全部样本的KS值：\n',ks_go2(dat))

全部样本的KS值：
 0.11706077463425224

F:\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:179: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  .format(op=op_str, alt_op=unsupported[op_str]))

In [19]:
monList=dat.drop_duplicates(subset=['month_lent'], keep='first', inplace=False).month_lent
for i in monList:
    dat1=dat[dat['month_lent']==i]
    print (i,'   KS_value:',ks_go2(dat1))

F:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

F:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
F:\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:179: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  .format(op=op_str, alt_op=unsupported[op_str]))

18-May    KS_value: 0.10397320845754943
18-Jun    KS_value: 0.1442454662324547
18-Apr    KS_value: 0.07499999999999996
18-Mar    KS_value: 0.12342979882246896
18-Feb    KS_value: 0.1866718027734977
18-Jan    KS_value: 0.10127737226277367

In [20]:
monList=dat.drop_duplicates(subset=['apply_type_'], keep='first', inplace=False).apply_type_
for i in monList:
    dat1=dat[dat['apply_type_']==i]
    print (i,'\nKS_value:',ks_go2(dat1),'\n')

F:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

F:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
F:\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:179: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  .format(op=op_str, alt_op=unsupported[op_str]))

reloan
KS_value: 0.1659100503794383

white_list
KS_value: 0.11715421766704065

new
KS_value: 0.13181826389918705

## 和瑞斌对一下:    Y变量选择首期是否逾期30天+

In [21]:
data=pd.read_csv('E:\\201810\\jhjj_KS\\jhjj2.csv')
dat=data.loc[:,['score','od30_od','apply_type_','month_lent']]
dat['od30_evv']=dat['od30_od']
# 按分数从低到高排序，并重设索引
dat=dat.sort_values('score')
dat=dat.set_index(np.arange(47140))
dat

       score  od30_od apply_type_ month_lent  od30_evv
0        501        1      reloan     Aug-18         1
1        501        1      reloan     Aug-18         1
2        515        0      reloan     Aug-18         0
3        555        0      reloan     Sep-18         0
4        558        0      reloan     Aug-18         0
5        562        0      reloan     Aug-18         0
6        590        1      reloan     Sep-18         1
7        600        0      reloan     Aug-18         0
8        603        0      reloan     Aug-18         0
9        608        0      reloan     Aug-18         0
10       608        0      reloan     Aug-18         0
11       608        0      reloan     Sep-18         0
12       609        0      reloan     Aug-18         0
13       611        0      reloan     Aug-18         0
14       612        0      reloan     Aug-18         0
15       614        0      reloan     Aug-18         0
16       614        0      reloan     Sep-18         0
17       620        0      reloan     Aug-18         0
18       624        0      reloan     Aug-18         0
19       626        0      reloan     Aug-18         0
20       627        0      reloan     Sep-18         0
21       627        0      reloan     Sep-18         0
22       627        0      reloan     Aug-18         0
23       628        0      reloan     Sep-18         0
24       628        0      reloan     Sep-18         0
25       630        0      reloan     Aug-18         0
26       630        0      reloan     Aug-18         0
27       631        0      reloan     Aug-18         0
28       631        0      reloan     Aug-18         0
29       634        0      reloan     Sep-18         0
...      ...      ...         ...        ...       ...
47110    989        0      reloan     May-18         0
47111    989        0      reloan     Jun-18         0
47112    990        0  white_list     May-18         0
47113    990        0      reloan     Jul-18         0
47114    990        0      reloan     Jun-18         0
47115    990        0  white_list     Jun-18         0
47116    990        0      reloan     Jun-18         0
47117    990        0      reloan     Aug-18         0
47118    990        0  white_list     Jun-18         0
47119    991        0      reloan     Jun-18         0
47120    991        0      reloan     Sep-18         0
47121    991        0  white_list     Jun-18         0
47122    991        0  white_list     Aug-18         0
47123    991        0      reloan     Jun-18         0
47124    991        0      reloan     Aug-18         0
47125    991        0      reloan     Jun-18         0
47126    992        0      reloan     Jun-18         0
47127    992        0      reloan     Jun-18         0
47128    992        0  white_list     Jun-18         0
47129    992        0      reloan     Jun-18         0
47130    992        0      reloan     Jul-18         0
47131    992        0      reloan     May-18         0
47132    993        0      reloan     Jun-18         0
47133    993        0  white_list     Aug-18         0
47134    994        0      reloan     Aug-18         0
47135    994        0         new     Jul-18         0
47136    994        0      reloan     Aug-18         0
47137    995        0      reloan     Aug-18         0
47138    995        0      reloan     Jun-18         0
47139    996        0      reloan     May-18         0

[47140 rows x 5 columns]

In [22]:
dat.drop_duplicates(subset=['month_lent'], keep='first', inplace=False).month_lent

0      Aug-18
3      Sep-18
105    Jun-18
106    May-18
111    Apr-18
147    Jul-18
Name: month_lent, dtype: object

In [23]:
dat_tmp=dat[dat['apply_type_']=='white_list']
monList=dat.drop_duplicates(subset=['month_lent'], keep='first', inplace=False).month_lent
for i in monList:
    dat_white=dat_tmp[dat_tmp['month_lent']==i]
    print ('white   ',i,'   KS_value:',ks_go2(dat_white))

F:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

F:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
F:\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:179: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  .format(op=op_str, alt_op=unsupported[op_str]))

white    Aug-18    KS_value: 0.18643409179223697
white    Sep-18    KS_value: 0.22247654784240145
white    Jun-18    KS_value: 0.1588642289628126
white    May-18    KS_value: 0.13207513962547524
white    Apr-18    KS_value: 0.11983359600176058
white    Jul-18    KS_value: 0.2227775605305179

In [24]:
dat_tmp=dat[dat['apply_type_']=='new']
monList=dat.drop_duplicates(subset=['month_lent'], keep='first', inplace=False).month_lent
for i in monList:
    dat_new=dat_tmp[dat_tmp['month_lent']==i]
    print ('new   ',i,'   KS_value:',ks_go2(dat_new))

F:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

F:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
F:\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:179: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  .format(op=op_str, alt_op=unsupported[op_str]))

new    Aug-18    KS_value: 0.1754918919579715
new    Sep-18    KS_value: 0.09685208720305016
new    Jun-18    KS_value: 0.13056687861038896
new    May-18    KS_value: 0.17042235217673818
new    Apr-18    KS_value: 0.1673357425871903
new    Jul-18    KS_value: 0.12354611906359175

In [25]:
dat_tmp=dat[dat['apply_type_']=='reloan']
monList=dat.drop_duplicates(subset=['month_lent'], keep='first', inplace=False).month_lent
for i in monList:
    dat_reloan=dat_tmp[dat_tmp['month_lent']==i]
    print ('reloan   ',i,'   KS_value:',ks_go2(dat_reloan))

F:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

F:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
F:\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:179: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  .format(op=op_str, alt_op=unsupported[op_str]))

reloan    Aug-18    KS_value: 0.3090024330900243
reloan    Sep-18    KS_value: 0.15344430217669658
reloan    Jun-18    KS_value: 0.2583843856150053
reloan    May-18    KS_value: 0.15518749666613318
reloan    Apr-18    KS_value: 0.20215149796235277
reloan    Jul-18    KS_value: 0.3014335958406606

## 研究全自动分段  计算KS_value

In [88]:
data=pd.read_csv('E:\\201810\\jhjj_KS\\jhjj2.csv')
dat=data.loc[:,['score','od30_od','apply_type_','month_lent']]
dat['od30_evv']=dat['od30_od']
# 按分数从低到高排序，并重设索引
dat=dat.sort_values('score')
dat=dat.set_index(np.arange(46472))
dat

       score  od30_od apply_type_ month_lent  od30_evv
0        501        1      reloan     Aug-18         1
1        501        1      reloan     Aug-18         1
2        515        0      reloan     Aug-18         0
3        558        0      reloan     Aug-18         0
4        562        0      reloan     Aug-18         0
5        590        1      reloan     Sep-18         1
6        600        0      reloan     Aug-18         0
7        603        0      reloan     Aug-18         0
8        608        0      reloan     Aug-18         0
9        608        0      reloan     Aug-18         0
10       609        0      reloan     Aug-18         0
11       611        0      reloan     Aug-18         0
12       612        0      reloan     Aug-18         0
13       614        0      reloan     Aug-18         0
14       620        0      reloan     Aug-18         0
15       624        0      reloan     Aug-18         0
16       626        0      reloan     Aug-18         0
17       627        0      reloan     Aug-18         0
18       628        0      reloan     Sep-18         0
19       630        0      reloan     Aug-18         0
20       630        0      reloan     Aug-18         0
21       631        0      reloan     Aug-18         0
22       631        0      reloan     Aug-18         0
23       634        0      reloan     Sep-18         0
24       634        0      reloan     Sep-18         0
25       634        0      reloan     Aug-18         0
26       643        0      reloan     Sep-18         0
27       644        0      reloan     Aug-18         0
28       644        0      reloan     Aug-18         0
29       645        0      reloan     Aug-18         0
...      ...      ...         ...        ...       ...
46442    989        0      reloan     Jun-18         0
46443    989        0         new     Jun-18         0
46444    990        0      reloan     Jul-18         0
46445    990        0  white_list     Jun-18         0
46446    990        0  white_list     May-18         0
46447    990        0      reloan     Jun-18         0
46448    990        0      reloan     Aug-18         0
46449    990        0      reloan     Jun-18         0
46450    990        0  white_list     Jun-18         0
46451    991        0  white_list     Aug-18         0
46452    991        0      reloan     Jun-18         0
46453    991        0  white_list     Jun-18         0
46454    991        0      reloan     Jun-18         0
46455    991        0      reloan     Jun-18         0
46456    991        0      reloan     Aug-18         0
46457    992        0      reloan     Jun-18         0
46458    992        0      reloan     Jul-18         0
46459    992        0      reloan     Jun-18         0
46460    992        0  white_list     Jun-18         0
46461    992        0      reloan     May-18         0
46462    992        0  white_list     Feb-18         0
46463    992        0      reloan     Jun-18         0
46464    993        0  white_list     Aug-18         0
46465    993        0      reloan     Jun-18         0
46466    994        0      reloan     Aug-18         0
46467    994        0      reloan     Aug-18         0
46468    994        0         new     Jul-18         0
46469    995        0      reloan     Jun-18         0
46470    995        0      reloan     Aug-18         0
46471    996        0      reloan     May-18         0

[46472 rows x 5 columns]

In [89]:
def ks_go3(dat):
    dat=dat.set_index(np.arange(len(dat['score'])))
    dat['true_label']=dat['od30_evv']
    dat['pre_prob']=dat['score']
    TPR=[]
    FPR=[]
    score_cut=[]
    dat_cut=dat
    sid=np.arange(0,len(dat_cut['score']),len(dat_cut['score'])/10)
    for i in sid:
        #print('客户序号：',int(i),'   对应分数：',dat_cut.loc[int(i),'score'])
        score_cut.append(dat_cut.loc[int(i),'score'])
    for i in score_cut:        
        TP = sum((dat['pre_prob'] <= i) * (dat['true_label'] == 1))   #判为正类实际也为正类
        FP = sum((dat['pre_prob'] <= i) * (dat['true_label'] == 0))   #判为正类实际为负类  
        TN = sum((dat['pre_prob'] > i) * (dat['true_label']== 0))     #判为负类实际为负类  
        FN = sum((dat['pre_prob'] > i) * (dat['true_label'] == 1))    #判为负类实际为正类
        TPR.append(TP/(TP+FN))
        FPR.append(FP/(FP+TN))
    ks=[]
    for i in np.arange(len(TPR)):
        ks.append(TPR[i]-FPR[i])
    return(max(ks))

In [91]:
np.unique(dat['month_lent'])

array(['Apr-18', 'Aug-18', 'Feb-18', 'Jan-18', 'Jul-18', 'Jun-18',
       'Mar-18', 'May-18', 'Sep-18'], dtype=object)

In [92]:
dat_tmp=dat[dat['apply_type_']=='white_list']
monList=dat.drop_duplicates(subset=['month_lent'], keep='first', inplace=False).month_lent
monList=['Jan-18','Feb-18','Mar-18','Apr-18','May-18','Jun-18','Jul-18','Aug-18','Sep-18']
for i in monList:
    dat_white=dat_tmp[dat_tmp['month_lent']==i]
    print ('white   ',i,'   KS_value:',ks_go3(dat_white))

F:\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:179: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  .format(op=op_str, alt_op=unsupported[op_str]))

white    Jan-18    KS_value: 0.38888888888888884
white    Feb-18    KS_value: 0.4913793103448276
white    Mar-18    KS_value: 0.3078880407124682
white    Apr-18    KS_value: 0.13231389586971648
white    May-18    KS_value: 0.13207513962547524
white    Jun-18    KS_value: 0.1566002624862085
white    Jul-18    KS_value: 0.2119036562713853
white    Aug-18    KS_value: 0.1868010880359225
white    Sep-18    KS_value: 0.2325174825174825

In [95]:
dat_tmp=dat[dat['apply_type_']=='reloan']
monList=dat.drop_duplicates(subset=['month_lent'], keep='first', inplace=False).month_lent
monList=['Feb-18','Mar-18','Apr-18','May-18','Jun-18','Jul-18','Aug-18','Sep-18']
for i in monList:
    dat_reloan=dat_tmp[dat_tmp['month_lent']==i]
    print ('reloan   ',i,'   KS_value:',ks_go3(dat_reloan))

F:\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:179: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  .format(op=op_str, alt_op=unsupported[op_str]))

reloan    Feb-18    KS_value: 0.4493006993006993
reloan    Mar-18    KS_value: -0.0010159651669086056
reloan    Apr-18    KS_value: 0.18833250861926765
reloan    May-18    KS_value: 0.1644103056489039
reloan    Jun-18    KS_value: 0.26316660118690677
reloan    Jul-18    KS_value: 0.3048551112470373
reloan    Aug-18    KS_value: 0.31505696726821675
reloan    Sep-18    KS_value: 0.19763313609467453

In [97]:
dat_tmp=dat[dat['apply_type_']=='new']
monList=dat.drop_duplicates(subset=['month_lent'], keep='first', inplace=False).month_lent
monList=['Feb-18','Mar-18','Apr-18','May-18','Jun-18','Jul-18','Aug-18','Sep-18']
for i in monList:
    dat_new=dat_tmp[dat_tmp['month_lent']==i]
    print ('new   ',i,'   KS_value:',ks_go3(dat_new))

F:\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:179: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  .format(op=op_str, alt_op=unsupported[op_str]))

new    Feb-18    KS_value: 0.5132743362831859
new    Mar-18    KS_value: 0.5968934911242604
new    Apr-18    KS_value: 0.1673357425871903
new    May-18    KS_value: 0.13038986354775833
new    Jun-18    KS_value: 0.13279519614116264
new    Jul-18    KS_value: 0.14429904425025475
new    Aug-18    KS_value: 0.17290025244035878
new    Sep-18    KS_value: 0.1539070982129757

## 不同人群切分不同的阈值

In [121]:
dat_tmp1=dat[dat['apply_type_']=='reloan']
dat_cut=dat_tmp1[(dat_tmp1['month_lent']=='Jul-18')|(dat_tmp1['month_lent']=='Aug-18')|(dat_tmp1['month_lent']=='Sep-18')]
dat_cut=dat_cut.set_index(np.arange(1,len(dat_cut['score'])+1,1))
sid=list(np.arange(0,len(dat_cut['score']),len(dat_cut['score'])/10))
sid.append(len(dat_cut['score']))
score_cut=pd.cut(list(dat_cut.index),sid)
    
dat_cut['score_cut']=score_cut


#'Jan-18','Feb-18','Mar-18','Apr-18','May-18','Jun-18','Jul-18','Aug-18','Sep-18'

In [122]:
dat_cut.to_csv('E:\\201810\\jhjj_KS\\dat_reloan_Q3.csv')